// Primitives
$space-xl: 24px;
$space-l: 16px;
$space-m: 12px;
$space-s: 8px;
$space-xs: 4px;
$space-2xs: 2px;

$font-size-xl: 30px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 12px;

$border-size-s: 1px;
$border-size-xs: 0.5px;

$border-radius-s: 8px;
$border-radius-xs: 4px;
$border-radius-2xs: 2px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$white: #ffffff;
$black: #000000;
$gray-100: #f7f7f7;
$gray-200: #e1e1e1;
$gray-300: #cfcfcf;
$gray-400: #b1b1b1;
$gray-500: #9e9e9e;
$gray-600: #7e7e7e;
$gray-700: #626262;
$gray-800: #515151;
$gray-900: #3b3b3b;
$red-500: #ff4d4f;
$green-500: #52c41a;
$blue-500: #1890ff;
$yellow-500: #fadb14;
$purple-500: #722ed1;
$orange-500: #fa8c16;

// Semantics
$block-padding: $space-xl;

$shadow-default: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-input: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

$progress-bar-height: 8px;

$primary: $blue-500;
$secondary: $purple-500;
$success: $green-500;
$danger: $red-500;
$warning: $yellow-500;
$info: $blue-500;
$background: $gray-100;
$text-color: $gray-900;
$subtext-color: $gray-700;
$border-default-color: $gray-200;
$placeholder-color: $gray-400;
$light-gray: $gray-300;
