@import "@styles/variables.scss";

.button-container {
  width: 100%;

  button {
    width: 100%;
    padding: $space-s $space-xs;

    background-color: $purple-500;
    color: $gray-100;
    border: unset;
    border-radius: $border-radius-xs;
  }
}
