@import "variables.scss";
@import "helper.scss";
@import "mixins.scss";

.quiz-container {
  @include modal;
  width: 1000px;

  .question-title {
    width: 100%;
    text-align: left;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    color: $text-color;
  }

  .answers-container {
    @include flex-column;
    gap: $space-s;
    width: 100%;
  }

  .question-answer {
    padding: $space-s $space-m;
    width: 100%;
    border: $border-size-xs solid $border-default-color;
    border-radius: $border-radius-xs;
    background-color: unset;
    text-align: left;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-input;
    }
  }
}

// Summary styles
.summary-list {
  margin: $space-m 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.summary-score {
  width: 100%;
  text-align: center;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  color: $text-color;
}

.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-xs $space-s;
  border-bottom: 1px solid $border-default-color;
  font-size: $font-size-m;
}

.summary-question {
  flex: 1;
  color: $text-color;
}

.correct {
  color: $success;
  font-weight: bold;
  margin-left: $space-s;
}

.incorrect {
  color: $danger;
  font-weight: bold;
  margin-left: $space-s;
}
