@import "variables.scss";
@import "helper.scss";
@import "mixins.scss";

.quiz-container {
  @include modal;
  width: 1000px;

  .question-title {
    width: 100%;
    text-align: left;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    color: $text-color;
  }

  .answers-container {
    @include flex-column;
    gap: $space-s;
    width: 100%;
  }

  .question-answer {
    padding: $space-s $space-m;
    width: 100%;
    border: $border-size-xs solid $border-default-color;
    border-radius: $border-radius-xs;
    background-color: unset;
    text-align: left;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-input;
    }
  }
}
