@import "./variables.scss";
@import "./helper.scss";

.progress-bar-container {
  @include flex-column;
  gap: $space-s;
  width: 100%;

  .progress-bar-labels-container {
    @include flex-space-between;

    .progress-bar-label {
      font-size: $font-size-m;
      font-weight: $font-weight-regular;
      color: $subtext-color;
    }
  }

  progress {
    width: 100%;
    border: unset;
    height: $progress-bar-height;

    &::-webkit-progress-bar {
      background: $gray-400;
      border-radius: 100px;
    }

    &::-webkit-progress-value {
      background-color: $gray-900;
      border-radius: 100px;
    }
  }
}
