@import "variables.scss";
@import "helper.scss";
@import "mixins.scss";

.ask-container {
  @include modal;
  max-width: 400px;

  .ask-title {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    color: $text-color;
    text-align: center;
    margin-bottom: $space-m;
  }

  .ask-sub-title {
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    color: $text-color;
    text-align: center;
  }
}
